@CHARSET "ISO-8859-1";


.border {
	border: solid 2px #3c8dbc;
	padding: 10px;
	background-color: white;
}

.textarea {
	width: 100%;
}

.input {
	width: 90%;
}

.button {
	float: right;
	background-color: none;
}