#Ignore binaries:
*.class
*.sm
#Ignore Jar files:
!*/bin/*.jar

# Eclipse
.metadata/
RemoteSystemsTempFiles/*
Server/*
.recommenders/*
Servers/*


# IntelliJ
.idea/
*.iws
*.iml
app/nb-configuration\.xml

bin/*

# Eclipse
.classpath
.project
.settings/

# Maven
target/*
log/*
/target/