#Ignore binaries:
*.class
Main.java

#Ignore Jar files:
*.jar
*.war
*.ear

# Eclipse
.metadata/
RemoteSystemsTempFiles/*
Server/*
.recommenders/*
Servers/*


# IntelliJ
.idea/
*.iws
*.iml
app/nb-configuration\.xml

bin/*

# Eclipse
.classpath
.project
.settings/

# Maven
target/*
log/*
*/target/