.label {
    color :#333;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.82857143;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    
}

th, td {
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 0px;
    padding-right: 10px;

}

.paddingLeft {
    padding-left: 10px;
}

table {
    overflow-x: auto;
}

body{
    overflow: auto;
}

.btnStyle {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    -webkit-box-shadow: 4px 4px 5px #666666;
    -moz-box-shadow: 4px 4px 5px #666666;
    box-shadow: 4px 4px 5px #666666;
    font-family: Arial;
    color: #616061;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 25px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    display: inline-block;
    left:50%;

}

.btnStyle:hover {
    background: #d1d1d1;
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    text-decoration: none;
}

.submitBtnStyle {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 2px #666666;
    -moz-box-shadow: 1px 1px 2px #666666;
    box-shadow: 1px 1px 2px #666666;
    font-family: Arial;
    color: #616061;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin: 7px 0px 0px 0px;
    overflow: auto;
    display: inline-block;
    font-weight: 700;
}

.submitBtnStyle:hover {
    background: #d1d1d1;
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    text-decoration: none;
}

.goBackBtnStyle {
    background: #f0f0f0;
    background-image: -webkit-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -moz-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -ms-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: -o-linear-gradient(top, #f0f0f0, #f0f0f0);
    background-image: linear-gradient(to bottom, #f0f0f0, #f0f0f0);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 1px 1px 2px #666666;
    -moz-box-shadow: 1px 1px 2px #666666;
    box-shadow: 1px 1px 2px #666666;
    font-family: Arial;
    color: #616061;
    font-size: 13px;
    padding: 3px 6px 3px 6px;
    text-decoration: none;
    margin-top: 45px;
    overflow: auto;
    display: inline-block;
}

.goBackBtnStyle:hover {
    background: #d1d1d1;
    background-image: -webkit-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -moz-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -ms-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: -o-linear-gradient(top, #d1d1d1, #d1d1d1);
    background-image: linear-gradient(to bottom, #d1d1d1, #d1d1d1);
    text-decoration: none;
}

.tableStyle table {
    border-collapse: collapse;
    text-align: left;
    width: 100%; 
}
.tableStyle {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #c0c0c0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.tableStyle table td, .tableStyle table th { 
    padding: 8px 20px; 
}
.tableStyle table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b0b0b0), color-stop(1, #b0b0b0) );
    background:-moz-linear-gradient( center top, #b0b0b0 5%, #b0b0b0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b0b0b0', endColorstr='#b0b0b0');
    background-color:#b0b0b0;
    color:#FFFFFF;
    font-size: 14px;
    font-weight: bold;
    border-left: 1px solid #707070;
    border-bottom: 1px solid #707070;
}
.tableStyle table thead th:first-child {
    border: none; 
    border-bottom: 1px solid #707070;
}
.tableStyle table tbody td {
    color: #000000;
    border-left: 1px solid #c0c0c0;
    font-size: 13px;
    font-weight: normal;
}
.tableStyle table tbody .alt td { 
    background: #F0F0F0;
    color: #000000;
}.tableStyle table tbody td:first-child {
    border-left: none; 
}
.tableStyle table tbody tr:last-child td { 
    border-bottom: none; 
}

.tableStyle table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.tableStyle table tbody tr {
    border-bottom: 1px solid #c5c5c5; 
}

.tableStyle table tbody tr:last-child {
    border-bottom: none;
}

.center {
    text-align: center;
}
.bottom {
    float: bottom;
    text-align: left;
}
